

:root {
    --primary-dark: #081b29;
    --primary-ligth:rgb(237, 237, 237);
    --primary-blue:rgb(72 181 231);
}


body {

    font-weight: bold;
    color: var(--primary-ligth);

}


a {
    text-decoration: none;
    color: unset !important;
}

a:active {
    text-decoration: none;
    color: unset !important;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.card{
    opacity: 61%;
    transition: 2s;
}
.card:hover {
    transform: scale(1.05);
}
.card-body p {
    margin-bottom: unset;
}
.weather-icon-wrapper {
    height: 75px;
    width: 75px;
    position: relative;

}
.weather-icon-wrapper img {
    position: absolute;
}
#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*header*/
.container-fluid.custom-bg {
    position: relative;
    background-color: rgb(255 255 255 / 51%);
    margin-bottom: 20px;
}
input#address-search-input {
    background: unset;
    border: 2px solid rgb(10,106,244);
}

input#address-search-input::placeholder {
    color: rgb(10,106,244);
}
