@import "resets.css";
@import "layout.css";
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@300;400;600&display=swap');
:root {
    --clr-cyan: hsl(178, 100%, 50%)
}
body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #8BACDA;
}
.page-wrapper {
    background-color: #0D192B;
}
.card {
    flex-direction: column;
    background-color: #14253D;
    border-radius: 5%;
    max-width: 40vh;
}
img.image-equilibrium {
    border-radius: inherit;
    max-width: 100%;
    align-self: center;
}
h1 {
    color: #ffffff;
}
hr {
    width: 99%;
    border-color: #2F415B;
}
.price-days {
    width: 100%;
}
.price {
    color: var(--clr-cyan);
}
.ethereum-icon {
    margin-right: 10px;
}
.clock-icon {
    margin-right: 10px;
}
.image-avatar {
    max-width: 5vh;
    border: 1px solid #ffffff;
    border-radius: 100%;
}

.creator {
    color: #ffffff;
}



@media screen and (.image-equilibrium:hover) {
    .row {
        flex-direction: column;
    }

}